/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 22, 2018, 12:34:41 AM
    Author     : osman~Forhad
*/
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 960px;
    margin: auto;
    margin-top: 44px;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}
.clear{
    clear: both;
}
h1{
    font-size: 22px;
}
.addNew{
    padding: 2px 9px;
}
table.list{
width: 100%; 
margin-top: 33px;
}
table.list tr{
    background: #EEEEEE;
}
table.list th{
    background: #1A68B8;
    color: #FFFFFF;
    padding: 9px;
}
table.list td{
    padding: 9px;
    text-align: center;
}
button{
    padding: 2px 9px;
    
}
.model{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
}
.modelContainer{
    width: 555px;
    background: #FFFFFF;
    margin: auto;
    margin-top: 44px;
}
.modelHeading{
    padding: 9px;
    background: #06307c;
    color: #FFFFFF;
}
.modelContent{
    min-height: 333px;
    padding: 44px;
}
.close{
    background: #D73131;
    padding: 3px 9px;
    border: none;
    color: #FFFFFF;
}
table.form input, table.form td{
    padding: 6px;
}